.main__p-page {
}
.p-page {
    margin-top: 109px;
    margin-bottom: 60px;
}
.p-page__container {
}
.p-page__title-repeat {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 70px;
    line-height: 120.8%;
    color: #000;
    -webkit-text-stroke: 1px #B7B7B7;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.p-page__content {
    margin-top: -50px;
}
.p-page__title {
    font-size: 50px;
    line-height: 120%;
    font-family: 'Gilroy-Bold', sans-serif;
    margin-left: 55px;
}
.p-page__project-name {
    font-family: 'Gilroy-Bold', sans-serif;
    text-align: center;
    font-size: 40px;
    line-height: 120%;
    margin-top: 45px;
    margin-bottom: 40px;
}
.p-page__slider {
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    z-index: 9;
}
.p-page__slider-item {
}
.p-page__slider-item_img {
}
.p-page__slider .slick-prev {
    left: 50px;
    top: 50%;
    background-image: url(../img/arrow-prev.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    width: 18px;
    height: 44.5px;
    transform: translate(50%, -50%);
}
.p-page__slider .slick-next {
    right: 50px;
    top: 50%;
    background-image: url(../img/arrow-next.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    width: 18px;
    height: 44.5px;
    transform: translate(-50%, -50%);
}
.p-page__text-content {
}
.p-page__objective {
}
.p-objective {
    margin-bottom: 45px;
}
.p-objective__title,
.p-result__title {
    font-size: 30px;
    color: #EC3D08;
    margin-bottom: 10px;
}
.p-objective__list {
}
.p-objective__item {
}
.p-page__result {
}
.p-result {
    margin-bottom: 45px;
}
.p-result__list {
}
.p-result__item {
}
a.p-page__link {
    color: #fff;
}
.p-footer {
    background: #F0F0F0;
}